@font-face {
    font-family: 'Gotham-Black';
    src: url(fonts/Gotham-Black.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}
:root {
    --background: #1c1a1f;
    --light-bg: #2f2b36;
    --yellow: #fa8d3e;
    --white: #fff8f0;
    font-size: 62.5%;
    --weight-title: 500;
    --title-font: 'Gotham-Black';
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    color: var(--white);
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Roboto';
}
::selection{
    background-color: var(--yellow);
    color: var(--white)
}
a{
    text-decoration: none;
    color: var(--white);
    transition: 0.4s ease;
}
a:hover {
    color: var(--yellow);
}
header{
    background-color: var(--light-bg);
    min-height: 7rem;
}
footer{
    background-color: var(--light-bg);
    padding-block: 3%;
}
.container {
    padding-inline: 5%;
    margin-bottom: 5%;
}
.wrapper-header {
    padding-inline: 2%;
    height: 100%;
}
h1 {
    font-family: var(--title-font);
    font-size: 4rem;
    line-height: 100%;
    margin-block: 0;
    padding-block: 1.5rem;
}
h2 {
    font-family: var(--title-font);
    font-size: 3.5rem;
    line-height: 4rem;
    margin-block: 0.5rem;
}
.for-yellow {
    color: var(--yellow);
}
.info {
    display: none;
}
.info::before {
    content: "( i )  ";
    color: var(--yellow);
    font-weight: bold;
}
.information-block{
    margin-block: 3rem;
    transition: 1s ease;
}
.information-block:active {
    background-color: var(--light-bg);
    padding-block: 2rem 1.5rem;
    padding-inline: 3rem;
    margin-block: 5rem;
}
.information-block:hover .info-need{
    color: var(--yellow);
    transition: 0.4s ease;
}
.information-block:active .info{
    display: block;
}
.fraction{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.counter{
    height: 10rem;
    max-width: 20rem;
    outline: 0;
    background-color: var(--background);
    border: 0;
    color: var(--yellow);
    font-family: var(--title-font);
    font-size: 10rem;
    line-height: 10rem;
    flex-grow: 3;
    text-align: center;
}
.btn-sign {
    display: block;
    text-align: center;
    width: 5rem;
    height: 5rem;
    margin-block: 2.5rem;
    font-size: 5rem;
    line-height: 5rem;
    background-color: transparent;
    border:0;
    color: var(--yellow);
    font-weight: bold;
    transition: 0.2s ease;
}
.btn-sign:hover {
    color: var(--white);
}
.invalidy::before {
    content: "( ! )  ";
    color: var(--yellow);
    font-weight: bold;
}
.invalidy {
    display: none;
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Roboto';
    background-color: var(--light-bg);
    position: absolute;
    right: 5%;
    top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    transition: 0.6s ease;
}
input:invalid + .invalidy {
    display: block;
}
.metronome-wrapper {
    display: flex;
    gap: 3rem;
}
.reg-input {
    display: block;
    margin-block: 0.5rem;
    max-height: 5.5rem;
    width: 100%;
    outline: 0;
    background-color: var(--background);
    border: 0.25rem solid;
    border-color: var(--yellow);
    padding: 1rem;
    color: var(--white);
    border-radius: 1rem;
}
.reg-input::placeholder {
    color: var(--light-bg);
    font-weight: bolder;
}
.reg-label, .reg-input {
    transition: 0.4s ease;
}
.reg-label:hover {
    color: var(--yellow);
}
.reg-label:hover .reg-input{
    border-color: var(--white);
    background-color: var(--light-bg);
}
.reg-label {
    display: block;
    margin-block: 1rem;
    flex-grow: 1;
    flex-basis: 1;
}
.flex-form {
    display: flex;
    gap: 2rem;
    margin-block: 1.5rem;
}
.btn-form {
    display: block;
    margin-block: 0.5rem;
    height: 6.5rem;
    width: 100%;
    outline: 0;
    background-color: var(--yellow);
    border: 0;
    padding: 1rem;
    color: var(--white);
    transition: 0.4s ease;
    border-radius: 1rem;
}
.btn-form:hover {
    border: 0.3rem solid;
    border-color: var(--white);
}
.btn-form:active {
    background-color: var(--white);
    color: var(--yellow);
}
.range-input {
    appearance: none;
    display: block;
    width: 100%;
    margin-block: 2rem;
    color: var(--yellow);
}
.range-input::-webkit-slider-runnable-track{
    background: var(--yellow);
    color: var(--white);
}
.range-input::-webkit-slider-thumb, .range-input::-moz-range-thumb , .range-input::-ms-thumb{
    cursor: pointer;
    background: var(--white);
    color: var(--white);
}
.big-flex-item {
    flex-basis: 1;
    flex-grow: 1;
}
#start-stop {
    display: block;
    margin: auto;
    margin-top: 10%;
    height: 60%;
    aspect-ratio: 1/1;
    background-color: var(--yellow);
    color: var(--white);
    border: 0;
    border-radius: 1rem;
    transition: 0.4s ease;
}
#start-stop:hover {
    border: 0.3rem solid;
    border-color: var(--white);
    scale: 95%;
}
#start-stop:active {
    background-color: var(--white);
    color: var(--yellow);
}
#counterspeed {
    text-align: left;
    max-width: 30rem;
}
button{
    cursor: pointer;
}
@media (max-width: 60rem) {
    .flex-form {
        flex-direction: column;
        gap: 0.5rem;
    }
    .reg-label {
        margin-block: 0.2rem;
    }
    .metronome-wrapper {
        flex-direction: column;
    }
    .big-flex-item-play {
        height: 30rem;
    }
}